name: Python static checks and tests
on: [push]
jobs:
  testing:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.9
          architecture: x64
      # - name: Install Flake8
      #   run: pip install flake8
      # - name: Run Flake8
      #   run: flake8
      # - name: Install Pylint
      #   run: pip install pylint
      # - name: Run Pylint
      #   run: find . -name "*.py" | xargs pylint --output-format=colorized
      # - name: Install Black
      #   run: pip install black
      # - name: Run Black
      #   run: find . -name "*.py" | xargs black --check
      - name: Install dependencies
        run: pip install apache-airflow pytest pytest-docker-tools apache-airflow[cncf.kubernetes] virtualenv
      - name: Build the docker-compose stack
        run: docker-compose up -d
      - name: Check running containers
        run: docker ps -a
      - name: Run test suite
        run: pytest tests/
